In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
df = pd.read_csv('Financial Generated Data 6.csv')

In [3]:
df.drop(['fin_purch_id','fin_file_id','fin_purch_id_format','fin_trans_file_load_dt','fin_trans_ref_num'],axis=1,inplace=True)

In [4]:
df['fin_date'] = pd.to_datetime(df['fin_trans_dt'],dayfirst=True)

D:\Users\vtpavithra\AppData\Local\Temp\ipykernel_13620\187654700.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['fin_date'] = pd.to_datetime(df['fin_trans_dt'],dayfirst=True)

In [5]:
df.drop('fin_trans_dt',axis=1,inplace=True)

In [6]:
# Encode categorical variables
label_encoder = LabelEncoder()
df['fin_company_id '] = label_encoder.fit_transform(df['fin_company_id '])
# Assuming fin_date is in datetime format, extract month
df['fin_month'] = df['fin_date'].dt.month

In [42]:
label_encoder = LabelEncoder()
df['fin_acct_num (masked)'] = label_encoder.fit_transform(df['fin_acct_num (masked)'])

In [43]:
# label:Company_id
#     0-1608
#     1-1905
#     2-2077
#     3-2605
#     4-3209
#     5-3780
#     6-5805
#     7-7300
#     8-7448
#     9-8424

In [44]:
df['count_of_transactions'] = df.groupby(['fin_company_id ', 'fin_month'])['fin_source_amt '].transform('count')

In [45]:
df.head()

,fin_record_key,fin_acct_num (masked),fin_orig_supplier_nm,fin_debit_credit_ind,fin_ticket_num,fin_source_amt,fin_auth_nbr,fin_region_id,fin_processor_id,fin_member_bank_id,...,fin_billing_curr_cd,fin_billing_period,fin_card,fin_comm_file_id,fin_merch__catg_cd,issuer_id and Name,company_id and name,fin_date,fin_month,count_of_transactions
0,6543929,1,AIR MTWNL 9301356266,C,2480309245,176.02,A31554,2,12,10031000,...,411,8028,11,33001,3009,2280- Bank of Nova,3174- JD IRIVINGCAD CTA,2019-09-14,9,227
1,5326021,0,AIR MTWNL 7061806632,D,8023199319,530.97,A50694,2,12,10031000,...,411,8028,11,33001,3009,2280- Bank of Nova,3174- JD IRIVINGCAD CTA,2019-01-15,1,258
2,8680562,0,AIR MTWNL 6293640810,C,1379093762,649.68,A82579,2,12,10031000,...,411,8028,11,33001,3009,2280- Bank of Nova,3174- JD IRIVINGCAD CTA,2015-03-08,3,275
3,3695360,2,AIR MTWNL 1692906802,C,5042770152,631.49,A93005,2,12,10031000,...,411,8028,11,33001,3009,2280- Bank of Nova,3174- JD IRIVINGCAD CTA,2023-07-24,7,258
4,7854310,2,AIR MTWNL 8675039355,C,5128592459,477.48,A29352,2,12,10031000,...,411,8028,11,33001,3009,2280- Bank of Nova,3174- JD IRIVINGCAD CTA,2017-02-10,2,255

In [46]:
X = df[['fin_company_id ','fin_acct_num (masked)', 'fin_month']]
y = df['count_of_transactions']

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [48]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [49]:
model = RandomForestRegressor(n_estimators=50, random_state=42)
model.fit(X_train_scaled, y_train)

RandomForestRegressor(n_estimators=50, random_state=42)

In [50]:
predictions = model.predict(X_test_scaled)

In [53]:
print(predictions)

[226. 266. 254. ... 228. 253. 262.]

In [54]:
print(y_test)

2308     226
22404    266
23397    254
25058    255
2664     238
        ...
3941     249
17854    248
95       228
6279     253
26428    262
Name: count_of_transactions, Length: 9000, dtype: int64

In [51]:
mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)

In [52]:
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)

Mean Squared Error: 0.0
Mean Absolute Error: 0.0
Root Mean Squared Error: 0.0

In [39]:
print(predictions)

[226. 266. 254. ... 228. 253. 262.]

In [40]:
print(y_test)

2308     226
22404    266
23397    254
25058    255
2664     238
        ...
3941     249
17854    248
95       228
6279     253
26428    262
Name: count_of_transactions, Length: 9000, dtype: int64

In [17]:
# label:Company_id
#     0-1608
#     1-1905
#     2-2077
#     3-2605
#     4-3209
#     5-3780
#     6-5805
#     7-7300
#     8-7448
#     9-8424

In [18]:
new_data = pd.DataFrame({
    'fin_company_id ': [1905],
    'fin_month': [1],  # Example month (February)
})

In [19]:
#Encode and scale the new data
new_data['fin_company_id '] = label_encoder.transform(new_data['fin_company_id '])
new_data_scaled = scaler.transform(new_data)

In [20]:
#Make prediction for the new data
new_prediction = model.predict(new_data_scaled)
print("Predicted Count of Transactions:", new_prediction[0])

Predicted Count of Transactions: 267.0

In [21]:
df1 = df[['fin_company_id ','fin_month','count_of_transactions']]

In [22]:
df1.shape

(30000, 3)

In [23]:
df1 = df1.drop_duplicates(subset=['fin_company_id ', 'fin_month','count_of_transactions'])

In [24]:
df_final = df1.sort_values(['fin_month','fin_company_id '])

In [25]:
df_final.head()

     fin_company_id   fin_month  count_of_transactions
38                 0          1                    234
120                1          1                    267
12                 2          1                    245
36                 3          1                    268
246                4          1                    256

In [26]:
def find_value(cmp_id,month):
    return df_final[(df_final['fin_month'] == month) & (cmp_id == (df['fin_company_id ']))]['count_of_transactions']

In [27]:
print(find_value(1,1))

120    267
Name: count_of_transactions, dtype: int64

D:\Users\vtpavithra\AppData\Local\Temp\ipykernel_13620\2056096498.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return df_final[(df_final['fin_month'] == month) & (cmp_id == (df['fin_company_id ']))]['count_of_transactions']

In [28]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error, mean_absolute_error
# from sklearn.preprocessing import StandardScaler, LabelEncoder

# # Load the dataset
# df = pd.read_csv('your_dataset.csv')

# # Encode categorical variables
# label_encoder = LabelEncoder()
# df['fin_company_id'] = label_encoder.fit_transform(df['fin_company_id'])
# # Assuming fin_date is in datetime format, extract month
# df['fin_month'] = df['fin_date'].dt.month

# # Define features and target
# X = df[['fin_company_id', 'fin_month', 'fin_account_number']]
# y = df['count_of_transactions']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Scale the features
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)

# # Initialize and train the model
# model = LinearRegression()
# model.fit(X_train_scaled, y_train)

# # Make predictions
# predictions = model.predict(X_test_scaled)

# # Evaluate the model
# mse = mean_squared_error(y_test, predictions)
# mae = mean_absolute_error(y_test, predictions)
# rmse = mean_squared_error(y_test, predictions, squared=False)

# print("Mean Squared Error:", mse)
# print("Mean Absolute Error:", mae)
# print("Root Mean Squared Error:", rmse)

# # Example of making a prediction for new data
# new_data = pd.DataFrame({
#     'fin_company_id': [122343],
#     'fin_month': [2],  # Example month (February)
#     'fin_account_number': ['your_value']
# })

# # Encode and scale the new data
# new_data['fin_company_id'] = label_encoder.transform(new_data['fin_company_id'])
# new_data_scaled = scaler.transform(new_data)

# # Make prediction for the new data
# new_prediction = model.predict(new_data_scaled)
# print("Predicted Count of Transactions:", new_prediction[0])